:root {
  /* Background of the app */
  --ion-background-color: #d1ddeb
}

/*middle header color*/
.header2{
  --background: #bacbdf;
    height: 60px;
}

/* top header color*/

.main-header{
  --background: #9aabc5;
    height: 80px;
}

/* index page buttons*/
.index-btn-1{
  --background: #ffffff;
  --border-radius: 40px;
  --padding: center;
    margin-top: 150px;  
}

.index-btn-2{
  --background: #ffffff;
  --border-radius: 40px;
  --padding: center;
    margin-top: 15px;
}

/* nutrition page buttons*/
.btn-nut{
  --background: #ffffff;
  --border-radius: 50px;
  --opacity: 75%;
  --background-hover: 100%;
  --color: black;
    width: 300px;

}

/* home button icons*/
ion-icon{
  float: right;
  font-size: 32px;
  color: white;
  padding: none;
  
}

/* nutrition page images*/
ion-avatar{
    width: 50px;
    height: 50px;
  --border-radius: 10px;
}

ion-title{
  padding-top: 20px;
  float: center;
}

/* title The Fridge*/
.main-title{
font-size: 2em ;
}

/* fab button for product page*/
.fab{
  padding-top: 40px;
}

/* modal background*/
.bg-modal-avocado{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

/* inside the modal*/
.modal-content{
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
}

/* close button in modal*/
.close{
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30px;
}

/* nutrition information for every modal on the page START*/
.bg-modal-beans{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-cheese{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-chicken{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-eggs{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-fish{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-potatoes{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-tomato{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
/* END*/

/* button for product which link product page with recipe page*/
.product-btn{
  --background: #9aabc5;
  height: 20px;
  width: 100%;
}

/* button with API*/
.recipe-btn{
  --background: #ffffff;
  --border-radius: 50px;
  --opacity: 75%;
  --background-hover: 100%;
  --color: black;
    width: 300px;
}
